@model condominio.Models.visistante

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Visistante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numApartamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numApartamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bloco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bloco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
